.container {
  border-radius: 10px;
  overflow: hidden;
  transition: background 300ms ease;
}

#dark .container {
  background-color: var(--Dark-Blue);
}

#light .container {
  background-color: var(--White);
}

.content__img {
  aspect-ratio: 16/9;
}

.content__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__data {
  padding: 20px 20px 30px;
}

.content__data span{
  font-weight: 700;
}

.content__list-data {
  line-height: 25px;
}
